@model EntityLayer.Concrete.Comment

@{
    ViewBag.Title = "LeaveComment";
    Layout = "~/Views/Shared/Layout.cshtml";
}
<div class="container">
    
    <div class="comment-form-wrap pt-5">
        <h3 class="mb-5">Bir Yorum Bırak @ViewBag.id</h3>
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @using (Html.BeginForm("LeaveComment", "Comment",
            new { ReturnUrl = Request.QueryString["ReturnUrl"] },
            FormMethod.Post,
            new { @class = "form-signin" }
            ))
        {

            <div class="form-group mb-3">

                @Html.LabelFor(m => m.UserName, "Kullanıcı Adı", new { @class = "control-label" })
                @Html.TextBoxFor(m => m.UserName, new
                {
                    @class = "form-control",
                    placeholder = "Kullanıcı Adı",
                    autofocus = ""
                })
                @Html.ValidationMessageFor(m => m.UserName, "", new { @class = "text-danger" })
            </div>

            <div class="form-group mb-3">

                @Html.LabelFor(m => m.Email, "Email Address", new { @class = "control-label" })
                @Html.TextBoxFor(m => m.Email, new
                {
                    @class = "form-control",
                    placeholder = "Email Adres",
                    autofocus = ""
                })
                @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
            </div>
            <div class="form-group mb-3">

                @Html.LabelFor(m => m.CommentText, "Yorum", new { @class = "control-label" })
                @Html.TextBoxFor(m => m.CommentText, new
                {
                    @class = "form-control",
                    placeholder = "Yorum",
                    autofocus = ""
                })
                @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
            </div>
            @Html.HiddenFor(m => m.CommentTime, new { Value = DateTime.Now.ToShortDateString() })
            @Html.HiddenFor(m => m.BlogId, new { Value = @ViewBag.id })

            <button class="btn btn-lg btn-primary btn-block" type="submit">Yorum Gönder</button>

        }

    </div>
    </div>

