@model EntityLayer.Concrete.Blog
<div class="site-cover site-cover-sm same-height overlay single-page" style="background-image: url('@Model.BlogImage');">
    <div class="container">
        <div class="row same-height justify-content-center">
            <div class="col-md-12 col-lg-10">
                <div class="post-entry text-center">
                    <span class="post-category text-white bg-success mb-3">@Html.DisplayFor(m=>m.Category.CategoryName)</span>
                    <h1 class="mb-4"><a href="#"> @Html.DisplayFor(m=>m.BlogTitle)</a></h1>
                    <div class="post-meta align-items-center text-center">
                        <figure class="author-figure mb-0 mr-3 d-inline-block"><img src="@Html.DisplayFor(m=>m.Author.AuthorImage)" alt="Image" class="img-fluid"></figure>
                        <span class="d-inline-block mt-1">@Html.DisplayFor(m=>m.Author.AuthorName)</span>
                        <span>&nbsp;-&nbsp; @(((DateTime)Model.CreatedTime).ToString("yy-MM-dd"))</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
