<div class="site-section bg-light">
    <div class="container">

        <div class="row align-items-stretch retro-layout">

            <div class="col-md-5 order-md-2">
                <a href="single.html" class="hentry img-1 h-100 gradient" style="background-image: url('@ViewBag.postImage1');">
                    <span class="post-category text-white bg-danger">@ViewBag.categoryName1</span>
                    <div class="text">
                        <h2>@ViewBag.postTitle1</h2>
                        <span>@(((DateTime)ViewBag.blogDate1).ToString("yy-MM-dd"))</span>
                    </div>
                </a>
            </div>

            <div class="col-md-7">

                <a href="single.html" class="hentry img-2 v-height mb30 gradient" style="background-image: url('@ViewBag.postImage2');">
                    <span class="post-category text-white bg-success">@ViewBag.categoryName2</span>
                    <div class="text text-sm">
                        <h2>@ViewBag.postTitle2</h2>
                        <span>@(((DateTime)ViewBag.blogDate2).ToString("yy-MM-dd"))</span>
                    </div>
                </a>

                <div class="two-col d-block d-md-flex">
                    <a href="single.html" class="hentry v-height img-2 gradient" style="background-image: url('@ViewBag.postImage3');">
                        <span class="post-category text-white bg-primary">@ViewBag.categoryName3</span>
                        <div class="text text-sm">
                            <h2>@ViewBag.postTitle3</h2>
                            <span>@(((DateTime)ViewBag.blogDate3).ToString("yy-MM-dd"))</span>
                        </div>
                    </a>
                    <a href="single.html" class="hentry v-height img-2 ml-auto gradient" style="background-image: url('@ViewBag.postImage4');">
                        <span class="post-category text-white bg-warning">@ViewBag.categoryName4</span>
                        <div class="text text-sm">
                            <h2>@ViewBag.postTitle4</h2>
                            <span>@(((DateTime)ViewBag.blogDate4).ToString("yy-MM-dd"))</span>
                        </div>
                    </a>
                </div>

            </div>
        </div>

    </div>
</div>
